<h1 class="about">This is an About page</h1>

<div class="about-cat">
  <img src='https://imgs.search.brave.com/wRtDYi1q0kVRHB5araMrFg-VAU9w2mPIcxa7ZaE3BQ8/rs:fit:300:274:1/g:ce/aHR0cHM6Ly9oZWFk/Ym9ua3MuZmlsZXMu/d29yZHByZXNzLmNv/bS8yMDE2LzAxL2lt/Z180NTQyLmpwZz93/PTMwMA'>
</div>

<p class="about"> The time now: <%= Time.now %></p>

<p class="nav">
  <%= link_to 'Home page', root_path %> |
  <%= link_to 'The articles page', articles_path %>
</p>