<p class="intro">Hello, friend!</p>

<div class="nav">
  <p> <%= link_to 'About Page', about_path %> </p>
</div>

<div>
  <p> <%= link_to 'The articles page', articles_path %> </p>
</div>

<div>
  <p> <%= link_to 'Log In', login_path %> </p>
</div>

<div class="container-fluid">
  <h1>My First Bootstrap Page</h1>
  <p>This part is inside a .container-fluid class.</p>
  <p>The .container-fluid class provides a full width container, spanning the entire width of the viewport.</p>
</div>