<p class="intro">Hello, friend!</p>

<p class="nav">
  <%= link_to 'About Page', about_path %> |
  <%= link_to 'The articles page', articles_path %>
</p>

<div class="container-fluid">
  <h1>My First Bootstrap Page</h1>
  <p>This part is inside a .container-fluid class.</p>
  <p>The .container-fluid class provides a full width container, spanning the entire width of the viewport.</p>
</div>