.about {
    text-align: center;
    color: #B00100;
    font-weight: 900;
}

.about-cat {
    display: flex;
    justify-content: center;
}

.nav {
    display: flex;
    justify-content: center;
    color: #730E15;
}