<div class="alert text-center m-4 pb-3">
  <% @category.each do |category| %>
    <p> <%= category.name %> category </p>
  <% end %>
</div>

<div class="alert text-center m-4 pb-3">
  <% if @category.first.errors.any? %>
    <h1 class="errs_heading"> The following errors prevented us from saving data in DB: </h1>
    <ul>
      <% @category.first.errors.full_messages.each do |err| %>
        <li> <%= err %> </li>
      <% end %>
    </ul>
  <% end %>
</div>